@media (max-width: 700px) {
  .hero p {
    text-align: center !important;
    font-size: 18px !important;
  }

  .hero h1 {
    text-align: center !important;
    font-size: 45px !important;
  }

  .hero h2 {
    font-size: 10px !important;
  }

  .hero a {
    font-size: 10px !important;
    padding: 5px 5px !important;
    margin-bottom: 20px !important;
  }
}

.container {
  h1 {
    font-size: 35px !important;
  }
  p {
    font-size: 14px !important;
  }

  .work-inquiry {
    margin: 20px 20px;
    a {
      font-size: 10px;
      padding: 18px 15px;
    }

    h3 {
      font-size: 26px;
    }

    p {
      font-size: 11px;
    }
  }

  .container-about h1 {
    font-size: 20px;
  }
}

:root {
  --primary-color: #6c63ff;
  --accent-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

.nav-link.active {
  color: var(--branding-color);
}

.container-fluid {
  img {
    margin-left: 23px;
  }

  a {
    transition: all 100ms ease-in-out;
  }
}

.hero {
  h1 {
    font-family: var(--heading-font-family);
    font-weight: 700px;
    font-size: 96px;
  }

  h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
  }

  p {
    font-family: var(--default-font-family);
    font-weight: bold;
    font-size: 36px;
    color: #272142;
  }

  .btnbtn-branding: hover {
    color: red;
    border: 1px solid var(--primary-color);
  }
}

p {
  font-family: var(--default-font-family);
  font-weight: 400px;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  padding: 120px 350px;
  background-color: var(--accent-color);
  text-align: center;
}

.btn-branding {
  background: var(--primary-color);
  color: white;
  font-size: 18px;
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
  text-decoration: none;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  color: var(--primary-color);
  border-radius: 4px;
  padding: 18px 30px;
  border: 1px solid var(--primary-color);
}

.container h1 {
  font-family: var(--heading-font-family);
  font-weight: 700px;
}

.project-description {
  font-size: 16px;
  padding: 0 30px;
}

.work-inquiry {
  background-color: var(--accent-color);
  padding: 40px 30px;
  margin: 60px 60px;

  h3 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 48px;
  }

  p {
    font-size: 18px;
  }

  a {
    font-size: 18px;
    position: relative;
    top: 30px;
  }
}

footer {
  font-family: var(--default-font-family);
  text-align: center;
  font-weight: bold;
}

.social-media-icons {
  font-size: 30px;
  color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }
  .hero {
    padding: 0;
  }
}

.container-about {
  padding: 80px 20px;
  text-align: center;

  h1 {
    font-family: var(--heading-font-family);
    font-size: 64px;
    line-height: 80px;
  }

  h2 {
    font-family: var(--default-font-family);
    font-size: 18px;
    font-weight: bold;
  }

  p {
    font-family: var(--default-font-family);
    font-size: 16px;
  }

  a {
    font-weight: 600;
  }

  img {
    position: relative;
    left: 5px;
    bottom: 10px;
    border-radius: 10px;
    width: 480px;
    height: 480px;
  }
}

.container-about-content {
  position: relative;
  left: 20px;
}

footer p {
  font-weight: normal;
}

.intersteller {
  h1 {
    font-family: var(--heading-font-family);
    font-size: 57px;
    font-weight: 900px;
    line-height: 85.31px;
    margin: 50px;
  }

  h3 {
    font-weight: 44px;
    font-size: 20px;
    font-family: var(--default-font-family);
    margin: 50px;
    line-height: 1px;
  }

  p {
    margin: 50px;
    line-height: 1px;
    color: blue;
    font-size: 15px;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    color: #6c63ff;
  }

  a:hover {
    text-decoration: underline;
  }
}

.container-work {
  h3 {
    font-family: var(--default-font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
  }

  p {
    font-family: var(--default-font-family);
    font-size: 14px;
    font-weight: 21px;
  }

  a {
    position: relative;
    left: 220px;
  }

  .row {
    margin: 10px;
    padding: 20px 15px;
  }

  img {
    margin: 50px;
    vertical-align: middle;
  }
}
