h1 {
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 700px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 400px;
}

.hero {
  padding: 120px 350px;
  background-color: #bae8e8;
  text-align: center;
}
